<!-- <p>shepsherd works!</p>
<h1>Home page</h1> -->

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <button (click)="startTour()" class="btn btn-primary">Start Tour</button>
  <br />
  <br />
  <button class="home-btn-1 btn btn-primary" (click)="step1()">step 1</button>
  <br />
  <br />
  <button class="home-btn-2 btn btn-primary" (click)="step2()">step 2</button>

  <hr class="my-4" />
  <p class="w-50">
    It uses utility classes for typography and spacing to space content out
    within the larger container.
  </p>
  <img
    style="float: right"
    src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg"
    height="
    200px"
    width="200px"
    class="step3"
  />
</div>
