<div class="jumbotron">
  <h1 class="display-4 bold kaarhead">Kaar school</h1>
  <h6 class="lead dis">
    Provide an authenic progress education to children ages fitteen months to 20
    years old in a loving , safe and joyful environment
  </h6>
  <hr class="my-4" />

  <p class="lead">
    <button nz-button nzType="primary">View More</button>
  </p>
</div>
<div style="background: #ececec; padding: 30px">
  <div nz-row [nzGutter]="8">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Scholorship" class="Scholorship">
        <p></p>
        <p>State government</p>
        <p>Central Government</p>
        <p>others</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Teachers" class="Teachers">
        <p>Principal</p>
        <p>HM</p>
        <p>Vice Principal</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Programs" class="pro">
        <p>Dance</p>
        <p>Swimming</p>
        <p>Karate</p>
      </nz-card>
    </div>
  </div>
</div>
