/* .demointroclass {
  background-color: blueviolet;
  color: blue;
} */
/* .customTooltip * {
  color: #4a4a4a;
  font-size: 18px;
}

.customTooltip .introjs-tooltip-title {
  color: #0a41c9;
} */
.abcd {
  width: 10px;
}
.iconTick {
  float: right;
  font-size: 20px;
}
